<ion-view title="Index Page">

  <ion-nav-buttons side="right">
  <!--
      <button class="button button-icon" ng-click="newTask()">
        <i class="icon ion-compose"></i>
      </button>
  -->

  </ion-nav-buttons>

  <ion-content padding="true">

          <div class="card" ng-repeat="item in menu">
            <div class="item item-text-wrap" ui-sref="{{item.sref}}">
              <button class="button button-clear" >{{item.title}}</button>
            </div>
          </div>


  </ion-content>
</ion-view>
