<ion-view title="Subs Available">

  <ion-nav-buttons side="left">
    <!-- Sub Menu -->
    <button class="button button-icon" ng-click="toggleMenu(stateMenu)">
      <i class="icon ion-navicon"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home" ui-sref="index"></button>
  </ion-nav-buttons>


  <ion-content padding="true">

    <div ng-show="error && error != ''" class="ng-hide card" >
      <div class="item item-text-wrap assertive">
        {{error}}
      </div>
    </div>



    <form ng-submit="newPost()">

      <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
      <ion-toggle ng-repeat="item in subsCl" ng-model="item.choose" toggle-class="toggle-calm">
        {{(item.classGroup ? item.classGroup.serviceTypeCode + ' ' + item.classGroup.levelCode : '') + ' ' + item.day + ' ' + item.month + ' ' + item.time + ' NYT'}}
      </ion-toggle>

      <button type="submit" class="button button-block button-positive">Submit</button>

    </form>
      <button class="button button-block button-light" ng-click="toggleClaim(toggle=!toggle)">{{toggle ? 'Check all':'Uncheck all' }}</button>

   </ion-content>
</ion-view>
