<ion-view title="Upcoming Classes (NYT)">

  <ion-nav-buttons side="left">
    <!-- Sub Menu -->
    <button class="button button-icon" ng-click="toggleMenu(stateMenu)">
      <i class="icon ion-navicon"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home" ui-sref="index"></button>
  </ion-nav-buttons>

  <ion-content padding="true">

    <div class="row">

      <div class="col col-33"><span class="button button-block button-stable ng-binding">Class&nbsp;Type</span></div>
      <div class="col"><span class="button button-block button-stable ng-binding">Level</span></div>
      <div class="col"><span class="button button-block button-stable ng-binding">Date</span></div>
      <div class="col"><span class="button button-block button-stable ng-binding">Time</span></div>
    </div>

    <div class="row" ng-repeat="item in upcomingCl" >
      <div class="col col-33"><span class="button button-block button-light ng-binding">{{item.serviceTypeCode}}</span></div>
      <div class="col"><span class="button button-block button-light ng-binding">{{item.levelCode}}</span></div>
      <div class="col"><span class="button button-block button-light ng-binding">{{item.day}}</span></div>
      <div class="col"><span class="button button-block button-light ng-binding">{{item.time}}</span></div>
    </div>


   </ion-content>

</ion-view>
