<ion-view title="Upcoming Classes (NYT)">

  <ion-nav-buttons side="left">
    <!-- Sub Menu -->
    <button class="button button-icon" ng-click="toggleMenu(stateMenu)">
      <i class="icon ion-navicon"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-home" ui-sref="index"></button>
  </ion-nav-buttons>

  <ion-content padding="true">

    <div ng-show="error && error != ''" class="ng-hide card" >
      <div class="item item-text-wrap assertive">
        {{error}}
      </div>
    </div>

    <div class="button-bar bar-stable" ng-hide="{{upcomingCl.length == 0}}">
          <a class="button">Class&nbsp;Type</a>
          <a class="button">Level</a>
          <a class="button">Date</a>
          <a class="button">Time</a>
   </div>

    <div class="button-bar bar-light" ng-repeat="item in upcomingCl" >
          <a class="button button-small">{{item.ServiceTypeCode}}</a>
          <a class="button button-small">{{item.LevelCode}}</a>
          <a class="button button-small">{{item.weekday}}</a>
          <a class="button button-small">{{item.time}}</a>
   </div>

   </ion-content>

</ion-view>
