.scroll {
  position: absolute;
  height: 100%;
  width: 100%;
}
.small {
  font-size: 80%;
}
.card {
  margin: 10px;
}
.p015 {
  padding: 0px 15px !important;
}

.item-toggle {
  box-sizing: border-box
}
